<form>
  <div class="form-group">
    <label for="username">Your Name</label>
    <input type="text" class="form-control" id="username" aria-describedby="userHelp" placeholder="First and Last Name">
    <small id="userHelp" class="form-text text-muted">Enter you First and Last Name</small>
  </div>
  <div class="form-group">
    <label for="babyname">Baby's Name</label>
    <input type="password" class="form-control" id="babyname" aria-describedby="userHelp" placeholder="Baby's Name">
    <small id="userHelp" class="form-text text-muted">Enter the Baby's Name</small>
  </div>
  <button type="submit" class="btn btn-success float-right">Submit</button>
</form>